@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.focus {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
  background-color: #ffffff;
}

.focus-header__container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.focus-header {
  font-size: 4rem;
  display: flex;
}

.focus-image__container {
  border: 2px solid rgb(236, 123, 63);
  background-color: rgba(252, 104, 24, 0.8);
  border-radius: 50%;
  width: 20rem;
  height: 20em;

  display: flex;
  justify-content: center;
  transform: scale(1);
  animation: pulse-focus 7s infinite;
}

@keyframes pulse-focus {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(234, 99, 36, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.focus-image {
  width: 15rem;

  // position: relative;
  // bottom: 20em;
  // z-index: 0;
}

.focus-quote {
  font-size: 1rem;
  text-align: center;
}

.focus-song {
  width: 4rem;
}

.focus-recommendation {
  font-size: 1rem;
}

.focus-text {
  padding: 1rem;
}

.focus-musicplayer {
  display: flex;
  justify-content: center;
}

.focus-musicplayer__border {
  border-bottom: 32px solid rgb(255, 255, 255);
  width: 5rem;
  position: relative;
  top: 5.9rem;
  z-index: 1;
}

.focus-text__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.focus-text__button {
  margin-top: 1rem;
  border-radius: 2rem;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 3px 0px rgba(149, 149, 149, 0.5);
  border: 0.5px solid grey;
  font-size: 0.75rem;
  padding: 0.5rem;
  line-height: 1.2rem;
}
