@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.time {
  text-align: center;
  font-size: 1.5rem;
  border-radius: 50%;
  width: 18rem;
  // border: 2px solid rgb(236, 123, 63);
  // background-color: rgba(252, 104, 24, 0.8);
  display: flex;
  justify-content: center;
  z-index: 1;
}

.timer-button {
  z-index: 1;
  background-color: rgb(255, 255, 255);
}
