@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.header{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    background-color:white;
    height:2rem;
    width:100vw;
}

.logo{
    width:20px;
    margin-right:2rem;
    
}