@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.relax {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem;
  background-color: #ffffff;
}

.relax-header__container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.relax-header {
  font-size: 4rem;
  display: flex;
}

.relax-image__container {
  background-color: rgba(57, 84, 196, 0.8);
  border-radius: 50%;
  width: 20rem;
  height: 20em;
  display: flex;
  justify-content: center;
  transform: scale(1);
  animation: pulse-relax 7s infinite;
}

@keyframes pulse-relax {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(86, 106, 187, 0.8);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px #6c7fcd00;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(116, 128, 207, 0);
  }
}

.relax-image {
  width: 25rem;
  height: 20rem;
}

.relax-quote {
  font-size: 1rem;
  text-align: center;
}

.relax-song {
  width: 4rem;
}

.relax-recommendation {
  font-size: 1rem;
}

.relax-text {
  padding: 1rem;
}

.relax-musicplayer {
  display: flex;
  justify-content: center;
}

.relax-musicplayer__border {
  border-bottom: 32px solid rgb(255, 255, 255);
  width: 5rem;
  position: relative;
  top: 5.9rem;
  z-index: 1;
}

.relax-text__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.relax-text__button {
  margin-top: 1rem;
  border-radius: 2rem;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 3px 0px rgba(149, 149, 149, 0.5);
  border: 0.5px solid grey;
  font-size: 0.75rem;
  padding: 0.5rem;
  line-height: 1.2rem;
}
